*{
    margin: 0px;
    padding: 0px;
    font-family: 'Belanosima', sans-serif;
font-family: 'Geologica', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;

}

body{
    overflow-x: hidden;
}
header{
    background-color:rgba(255, 144, 14, 0.10);
    padding-top: 50px;
    
    width: 100vw;
} 
    
.nav-container{
    display: flex;
    justify-content: space-around;
}
.manus{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    font-size: 17px;
}
.nav-title{

    font-size: 1.5rem;
    font-weight: 700;
}


.banner-title{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 60px;
   }


.banner-title h1{
    font-size: 50px;
    color: #131313;
}


.banner-image{
    width: 80%;
    margin: auto;
    padding-left: 120px;
   padding-bottom: 20px;
    
}
.banner-description{
    text-align: center;
    margin-top: 50px;
}
.btn-primary{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 10px 19px;
    border-radius: 5px;
    background-color: orange;
    color: aliceblue;
    font-weight: 700px;
    border: 1px solid orange;
    font-size: 20px;
    cursor: pointer;
}

/* main section*/
.feature-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    padding-left:  59px;
}

.feature-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
   
}

.feature-description{
    
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 10px;
}

.feature-title{
    font-size: 46px;
    padding-bottom: 39px;
}
span{
    color: orange;
}
.quick{
    color: gray;
}
/*responsive style   */

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    .nav-container{
       flex-direction: column;
       text-align: center;
    }
    
    
    .banner-title{
        text-align: center;
        }
    .manus{
        text-align: center;
        padding-left: 73px;
        margin-top: 15px;

        }
        .banner-image{
            padding-right: 20px;
            padding-left: 40px;
        }
        .feature-section{
            grid-template-columns: 1fr; 
            padding-right: 20px;
            padding-left: 20px;  
            
        }
        .feature-description{
            text-align: center;
            padding-right: 20px;
            padding-left: 20px;  
            
           
        }
    .feature-images{
        
        grid-template-columns: 1fr;
        padding-left: 35px;
    }
}